<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neo.mtapp"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name="com.neo.pgapp.PGApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait" >
        <activity
            android:name="com.neo.pgapp.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.neo.pgapp.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" />
        <activity
            android:name="com.neo.pgapp.BuyDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/custom_dlg" />
        <activity
            android:name="com.neo.pgapp.ImageDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.neo.pgapp.ImageActivity"
            android:screenOrientation="portrait" />
        <!-- 万普 -->
        <activity
            android:name="cn.waps.OffersWebView"
            android:configChanges="keyboardHidden|orientation" />

        <meta-data
            android:name="APP_ID"
            android:value="dab8257098713ee255a9108bf1c377ad" />
        <meta-data android:value="neng" android:name="APP_PID" />
        <!-- 万普 -->
        <!-- umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53fc8d67fd98c52c56008f0a" >
        </meta-data>
        <meta-data android:value="neng" android:name="UMENG_CHANNEL" />
        
        <service
    		android:name="com.umeng.update.net.DownloadingService"
    		android:process=":DownloadingService" >
		</service>
		<activity 
    		android:name="com.umeng.update.UpdateDialogActivity"
    		android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		</activity>
        <!-- umeng -->
        <provider
            android:name="com.neo.pgapp.db.DBContentProvider"
            android:authorities="com.neo.pgapp.db.provider" />
    </application>

</manifest>